body {background-color: #85A27A;}
html {font-size: 62.5%;}
a {color: #016241; font-size: x-large; font-weight: 1000; font-family: Inter;}
h1 {color: #016241; font-size: xx-large; font-weight: 1000; font-family: Inter;}
img {border-radius: 5%; 
scale: 90%;}
.white-square {
    display:flex;
      margin-left: 20px;
      width: flex;
      height: flex;
      background-color: white;}
      .white-square-canvas {
        display:felx;
          margin-left: 20px;
          width: flex;
          height:flex;
          background-color: white;
      }
    